doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WELCOME
        link(rel="manifest", href="./manifest.json")
    body 
        script(src="./jwt.js")
        
        h2 SIGNUP
        form(action="/register", method="POST") 
            label(for="fname") First Name: 
            input#fname(type="text", name="fname")
            label(for="lname") Last Name:
            input#lname(type="text", name="lname")
            label(for="email") Email: 
            input#email(type="email", name="email")
            label(for="mobile") Mobile: 
            input#mobile(type="number", name="mobile")
            label(for="dob") Date of Birth:
            input#dob(type="date", name="dob")

            input(type="submit", value="Submit")

        h2 LOGIN
        form(id="login", onsubmit="login(event, this)")
            label(for="email") Email: 
            input(type="text", name="email", id="email1", value="riojosrj@gmail.com")  
            label(for="lname") Last Name: 
            input(type="text", name="lname", id="lname1", value="Jos")   

            input(type="submit", value="Submit")

        hr

        div(id="container") 
        div(id="sync") 
            input(type="button", value="Sync Notifications", onclick="worker()")