doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
        h2 LOGIN
        form(action="/login" method="POST")
            label(for="email") Email: 
            input#email(type="text", name="email")  
            label(for="lname") Last Name: 
            input#lname(type="text", name="lname")   

            input(type="submit", value="Submit")