doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
        ul
            //- TODO: List custom unique usernames
            each i in user
                li= i.email
                form(action="/notify", method="post") 
                    //- !FIXME: from and to id should be different
                    //- TODO: Create login feature
                    input(type="hidden", name="from_id", value=i.id)
                    input(type="hidden", name="to_id", value=i.id)

                    label(for="message")
                    input(type="text", name="message")

                    input(type="submit", value="Submit")